<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing offer attachment</h1>

  <%= render "form", offer_attachment: @offer_attachment %>

  <%= link_to "Show this offer attachment", @offer_attachment, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to offer attachments", offer_attachments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
